
<app-passenger-count [propertyBinding]="PassengerArray"></app-passenger-count>
<div class="col-md-4">
  <h3 class="text-warning bg-dark p-2" *ngIf="PassengerArray.length>0">Passenger Name</h3>
  <ul class="list-group my-4">
    <li class="list-group-item" [ngClass]="{'text-success': item.checkInDate>0,'text-danger': item.checkInDate===null}" *ngFor="let item of PassengerArray;index as i">
   {{i+1}} {{ item.fullname }}
    </li>
  </ul>
</div>
<app-passenger-card (coustomEventRemove)="callback1($event)"  (coustomEvent)="callback($event)" [propertyBinding]="PassengerArray"></app-passenger-card>
<!-- <app-passenger-card *ngFor="let item of PassengerArray" [propertyBinding]="PassengerArray"></app-passenger-card> -->
